table{
    margin:50px;
    padding:50px;
    min-width: 800px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#wholePage{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

h2{
    background-color: white;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}
#newsmanagement{
    background-color: rgb(95, 255, 255);
    border: solid 2px black;
}

#softwarereviews{
    background-color: rgb(255, 95, 95);
    border: solid 2px black;
}

#opinionpublishing{
    background-color: rgb(255, 252, 95);
    border: solid 2px black;
}

#hardwarereviews{
    background-color: rgb(95, 255, 116);
    border: solid 2px black;
}

#noCreds{
    background-color: rgb(255, 0, 0);
    border: solid 2px black;
    padding: 10px;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    max-width: 1100px;
    min-width: 1100px;
}
tr{
    border: 2px solid black;
    padding: 10px;
}
th{
    min-width: 200px;
    max-width: 200px;
    border: 2px solid black;
}
td{
    border: 2px solid black;
    padding: 10px;
}